.App {
  text-align: center;
}

input {
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid royalblue;
  border-radius: 5px;
  outline: none;
  background-color: skyblue;
}

input[type="submit"] {
  color: white;
  padding: 10px 20px;
  background-color: tomato;
  border: 1px solid tomato;
}